.tituloprencipal {
    padding-left: 30px;
}

#banner {
    width: 100%;
}
.principal {
    background: #cccccc;
padding: 20px;}

.diferenciales{ 
       background:  white;
    padding: 30px;
}
.titulocentralizado {
    text-align: center;
}
p{
    text-align: center;
}
.items {font-style: italic;}



ul{ 
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagendiferenciales {
    width: 50%;
}